.carousel {
  position: absolute;
  top: calc(100vh - 88vh);

  width: 100%;
  height: 88vh;
  z-index: -1;
}
.carousel .background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 40%;
}
.carousel .background {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.carousel_container {
  position: relative;
  top: calc(100% - 50vh);
  left: 0;
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
}
.carousel_container .slider {
  position: absolute;
  top: 5%;
  width: 200px;
  height: 270px;

  transform-style: preserve-3d;
  transform: perspective(2000px);
  background-color: burlywood;
}
.my_images {
  position: absolute;
  inset: 0 0 0 0;
  transform: rotateY(
      calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg)
    )
    /*rotateY(calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg))*/
    translateZ(250px);
  background-color: aqua;
}
.slider img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
