.logo {
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  font-size: 4rem;
  display: flex;
  background: var(--my-gradiant);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.logo-container {
  position: relative;
  max-width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .logo {
    font-size: 5.5rem;
  }
}
