.welcome {
  height: 100dvh;
  min-width: 100%;
  overflow: hidden;
  position: relative;
}
.welcome nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 25px;
  background-color: var(--foreground-color);
  height: 12vh;
  width: 100%;
  z-index: 1;
}

.herosection {
  width: 100%;
  background-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 0.5)
  );
  height: 100%;
  padding-top: 5rem;
}
.herosection h1 {
  font-size: 3rem;
  margin-left: 2rem;

  font-weight: 600;
  font-family: var(--font-title);
  color: white;
}
.herosection span {
  font-family: var(--brand-font);
  background: var(--my-gradiant);
  font-weight: 900;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.herosection p {
  font-size: 1.5rem;
  margin-left: 2rem;
  margin-top: 1rem;
  color: whitesmoke;
  font-family: var(--font-title);
  font-size: 1rem;
  font-weight: 700;
  margin-top: 1rem;
  line-height: 1.2rem;
  z-index: 1;
}

.get_started_btn {
  position: absolute;
  left: 50%;
  bottom: 5%;
  transform: translateX(-50%);
  height: 40px;
  width: 40%;
  border-radius: 10px;
  background: var(--my-gradiant);
  border: none;
  box-shadow: 0px 2px 10px #43b2fc;
  transition: box-shadow 0.3s ease;
  color: wheat;
  font-family: var(--brand-font);
  font-weight: 700;
}
.get_started_btn:hover {
  box-shadow: 0px 2px 40px #43b2fc;
  transition: box-shadow 0.3s ease;
  cursor: pointer;
}
