nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  bottom: 0%;
  left: 0%;
  background-color: var(--brand-color);
  min-height: 7%;
}
.link {
  color: whitesmoke;
  font-family: var(--font-family);
  font-weight: 900;
  font-style: normal;
}
