.nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  bottom: 0%;
  left: 0%;
  background-color: var(--brand-color);
  min-height: 7%;
  transform: translateY(0%);
  transition: all 0.5s linear;
}
.nav_off {
  transform: translateY(100%);
  transition: all 0.5s linear;
  opacity: 0;
}
.link {
  color: var(--Writtings);
  font-family: var(--font-family);
  font-weight: 900;
  font-style: normal;
}
button {
  border: none;
  background-color: transparent;
  position: relative;
  overflow: hidden;
}
.sun,
.moon {
  transform: translateY(0%);
  color: var(--the_green);
  transition: all 0.5s ease;
}

.moon_off,
.sun_off {
  top: 0;
  left: 0;
  position: absolute;
  transform: translateY(100%);
  color: transparent;
  transition: all 0.5s ease;
}
.link_active {
  scale: 0.8;
  background-color: var(--the_green);
  padding: 5px;
  color: black;
  border-radius: 10px;
  transition: all 0.5s;
}
