* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

:root {
  /*brand color*/
  --brand-color: rgb(7, 158, 196);
  /*____________*/
  --bg-color: whitesmoke;
  --color-border: gray;
  --color-title: rgb(92, 92, 92);

  --font-family: "Abel", sans-serif;
  --font-weight: 400;
  --font-style: normal;
}
[data-theme="dark"] {
  --bg-color: rgb(29, 23, 23);
  --color-title: white;
  --color-border: var(--brand-color);
}
body {
  background-color: var(--bg-color);

  max-width: 100%;
  max-height: 100vh;
  overflow: hidden;
  position: relative;
}
