* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

:root {
  /*brand color*/
  --the_green: rgb(6, 196, 6);
  --Writtings: rgb(4, 119, 4);
  --brand-color: black;
  /*____________*/
  --bg-color: #d9d9d9;
  --color-border: gray;
  --color-title: rgb(92, 92, 92);
  /*____________*/

  --font-family: "Space Grotesk", sans-serif;
  --font-optical-sizing: auto;

  --font-style: normal;
}

[data-theme="dark"] {
  --bg-color: rgb(29, 23, 23);
  --color-title: white;
  --color-border: var(--brand-color);
}
body {
  background-color: var(--bg-color);

  max-width: 100%;
  max-height: 100vh;

  position: relative;
}
