* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  transition: all 0.3s ease;
}

:root {
  /*brand color*/
  --background-color: #1a2037;

  --foreground-color: #3a97d4;
  --my-gradiant: linear-gradient(to bottom, #09203f, #3a97d4);

  --brand-font: "Orbitron", sans-serif;
  --font-title: "Share Tech", sans-serif;
  --text-font: "Poppins", sans-serif;
  --secondary-color: #537895;
}

body {
  max-width: 100%;
  max-height: 100vh;
  position: relative;
}
